html {
  font-size: 16px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0.597);
}

.mt-50 {
  margin-top: 60px !important;
}

.header {
  height: 10rem;
  width: full;
  background-color: #00093d;
}

.logo {
  height: 10rem;
  width: auto;
}

.container-1 {
  /* Shelf Container */
  display: flex;
  justify-content: center;
  margin: 0;
  position: relative;
}

.product-info {
  /* Componente de texto */
  position: absolute;
  background-color: white;
  padding: 20px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 7px rgb(50, 50, 50, 0.22);
  display: none;
}

.product-info p {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0;
}

.product-info h2 {
  text-align: center;
}

.shelf {
  /* Shelf Image */
  height: 50rem;
  width: 50rem;
  z-index: 0;
  position: absolute;
}

.image-grid {
  /* Products Grid */
  display: flex;
  z-index: 1;
  position: relative;
  height: 50rem;
}

.image1 {
  /* Steak Image */
  width: 9rem;
  height: 6.5rem;
  position: relative;
  top: 13.5rem;
  left: 15rem;
}

.image2 {
  /* Car Image*/
  width: 6.831rem;
  height: 6.5rem;
  position: relative;
  top: 13.5rem;
  left: 19rem;
}

.image3 {
  /* Blackbeans Image */
  width: 6.831rem;
  height: 6.5rem;
  position: relative;
  top: 13.5rem;
  left: 23.5rem;
}

.image4 {
  /* Gasoline Image */
  width: 6.826rem;
  height: 7.5rem;
  position: relative;
  top: 23rem;
  right: 6.8rem;
}

.image5 {
  /* Smartphone Image */
  width: 4.163rem;
  height: 7.5rem;
  position: relative;
  top: 23rem;
  right: 0.4rem;
}

.image6 {
  /* Perfume Image */
  width: 5.537rem;
  height: 7.5rem;
  position: relative;
  top: 23rem;
  left: 6.5rem;
}

.image7 {
  /* Videogame Image */
  width: 8rem;
  height: 6rem;
  position: relative;
  top: 34rem;
  right: 24rem;
}

.image8 {
  /* Medication Image */
  width: 7.249rem;
  height: 7.5rem;
  position: relative;
  top: 33rem;
  right: 19.5rem;
}

.image9 {
  /* T-Shirt Image */
  width: 6.857em;
  height: 7.5rem;
  position: relative;
  top: 33rem;
  right: 15rem;
}

.product-info-1 {
  position: absolute;
  top: 0;
  left: -10rem;
}

.product-info-2 {
  position: absolute;
  bottom: 38rem;
  left: 24rem;
}

.product-info-3 {
  min-width: 11rem;
  position: absolute;
  top: 0;
  left: 61.5rem;
}

.product-info-4 {
  position: absolute;
  top: 16rem;
  left: -10rem;
}

.product-info-5 {
  position: absolute;
  bottom: 38rem;
  left: 24rem;
}

.product-info-6 {
  min-width: 11rem;
  position: absolute;
  top: 16rem;
  left: 61.5rem;
}

.product-info-7 {
  position: absolute;
  top: 30rem;
  left: -10rem;
}

.product-info-8 {
  position: absolute;
  bottom: -9rem;
  left: 25rem;
}

.product-info-9 {
  min-width: 11rem;
  position: absolute;
  top: 25rem;
  left: 61.5rem;
}

.card {
  background-color: #ffffff;
  

  padding: 20px;
  margin: 10px;
  width: auto;
 
  transition: transform 0.2s;
}

.card-topico__1 {
    margin-bottom: 2rem;
}

.card-topico__2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.card:hover {
  transform: scale(1.02);
}

.card-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 1.4;
}
