html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.mt-50{
    margin-top: 80px !important;
}

.container-1 {
    /* Shelf Container */
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
}

.product-info {
    /* Componente de texto */
    position: absolute;
    background-color: white;
    padding: 20px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0 rgb(50, 50, 50, 0.22);
    display: none;
}

.product-info p {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0;
}

.product-info h2 {
    text-align: center;
}

.shelf {
    /* Shelf Image */
    height: 50rem;
    width: 50rem;
    z-index: 0;
    position: absolute;
}

.image-grid {
    /* Products Grid */
    display: flex;
    z-index: 1;
}

.image1 {
    /* Steak Image */
    width: 9rem;
    height: 6.5rem;
    position: relative;
    top: 13.5rem;
    left: 15rem;    
}

.image2 {
    /* Car Image*/
    width: 6.831rem;
    height: 6.5rem;
    position: relative;
    top: 13.5rem;
    left: 19rem;
}

.image3 {
    /* Blackbeans Image */
    width: 6.831rem;
    height: 6.5rem;
    position: relative;
    top: 13.5rem;
    left: 23.5rem;
}

.image4 {
    /* Gasoline Image */
    width: 6.826rem;
    height: 7.5rem;
    position: relative;
    top: 23rem;
    right: 6.8rem;
}

.image5 {
    /* Smartphone Image */
    width: 4.163rem;
    height: 7.5rem;
    position: relative;
    top: 23rem;
    right: 0.4rem;
}

.image6 {
    /* Perfume Image */
    width: 5.537rem;
    height: 7.5rem;
    position: relative;
    top: 23rem;
    left: 6.5rem;
}

.image7 {
    /* Videogame Image */
    width: 8rem;
    height: 6rem;
    position: relative;
    top: 34rem;
    right: 24rem;
}

.image8 {
    /* Medication Image */
    width: 7.249rem;
    height: 7.5rem;
    position: relative;
    top: 33rem;
    right: 19.5rem;
}

.image9 {
    /* T-Shirt Image */
    width: 6.857em;
    height: 7.5rem;
    position: relative;
    top: 33rem;
    right: 15rem;
}

.product-info-1 {
    position: absolute;
    top: 0;
    left: 15rem;
}

.product-info-2 {
    position: absolute;
    top: 0;
    left: 53rem;
}

.product-info-3 {
    position: absolute;
    top: 0;
    right: 15rem;
}

.product-info-4 {
    position: absolute;
    top: 15rem;
    left: 15rem;
}

.product-info-5 {
    position: absolute;
    top: 0;
    left: 53rem;
}

.product-info-6 {
    position: absolute;
    top: 15rem;
    right: 15rem;
}

.product-info-7 {
    position: absolute;
    top: 30rem;
    left: 15rem;
}

.product-info-8 {
    position: absolute;
    top: 0;
    left: 53rem;
}

.product-info-9 {
    position: absolute;
    top: 30rem;
    right: 15rem;
}